page-dashboard {
    .card-md{
        -webkit-box-shadow:none;
        box-shadow:none;
    }
    .card-title{


    }
    .dashitems ion-card img{
        padding:0 25px 3px 25px;

    }
    .toolbar-title-md{
        font-size:1.6rem;
    }
}
