page-assignment {
   
     .ion-card{
        background-color:#94C303;
    }
   .card-content-gs,  .card-content-gs p,.card-content p{
         color:#fff;

     }
   .gsdate{
       color:#222;
   }
     /*.card-md .card-content > p{
         color:#fff;
     }*/
}
