page-home {
         .home-content {
     /*.h4{background:#1ABED4;}*/
     .card-md h3, .card-md h4, .card-md h5, .card-md h6{
         color:#1A336B;

     }
     .item > ion-icon{
         font-size:3.8rem;
     }
    }
}