page-academicsummary {
     .gsgrid{
        .gsheader{
             background-color:#1A336B;
             color:#fff;
        }
        .col{
            border:1px solid #ccc;
        }

       .primaryc{
            color:#488aff;
       }

    }
}
