<ion-header>
  <ion-navbar  color="gsapp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gallery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list *ngIf="albums && !isImages">
        <ion-item-divider color="light">Albums</ion-item-divider>
        <button ion-item *ngFor="let album of albums" (click)="GetImages(album)">
            {{ album.AlbumName }}
        </button>  
    </ion-list>


    <ion-list *ngIf="images!=null && isImages">
        <div padding>
            <button ion-button  icon-start (click)="isImages=false"  round small>
                <ion-icon name='arrow-dropleft'></ion-icon>
                albums
            </button>
        </div>
            <ion-card *ngFor="let nd of images">
               
                <img src="{{imagedir}}/{{nd.ImageName}}"  alt="image" />
              
               
            </ion-card>
        
    </ion-list>
    <ion-row *ngIf="albums==null" padding>
        <p>{{msg}}</p>
    </ion-row>
</ion-content>
